@import "../styles/_breakpoints.scss";

.search {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  @include min-sm {
    align-items: center;
  }
  @include sm {
    flex-direction: column;
  }
}

.input {
  @include sm {
    width: 100%;
  }
}

.label {
  font-size: 1.1rem;
  line-height: 1
}

